# Binaries
/wanderlog
/wanderlog-cli
wanderlog-*-*

# Test & coverage
coverage.out
coverage.html

# Data
/trips/*.json

# Credentials
.credentials
*.env
.env

# JS artifacts
/*.js
dist*.js

# Build
/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
