# Binaries
/wanderlog
/wanderlog-cli
wanderlog-*-*

# AI
.claude/settings.local.json

# Test & coverage
coverage.out
coverage.html

# Data
/trips/*.json

# Credentials
.credentials
*.env
.env

# JS artifacts
/*.js
dist*.js
/artifacts/index.android.bundle

# Build
/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
