openapi: "3.0.3"
info:
  title: Wanderlog API
  description: |
    Reverse-engineered API specification for the Wanderlog travel planning platform.

    This specification was generated by decompiling the API bundle
    from Wanderlog's Android app (hermes v96, 67k functions, 218k strings).
    All endpoints were extracted from `wrappedAxios()` calls in the reference
    React Native (Metro) modules.

    Base URL: https://wanderlog.com/api
    Client version: 2 (sent as `clientSchemaVersion` in many requests)
    Default timeout: 15,000ms (wrappedAxios default)
  version: "1.0.0"
  x-generated-by: hermes-decomp (Rust) / API v96 extraction
  x-bundle-info:
    functions: 67030
    strings: 218797
    modules: 7274

servers:
  - url: https://wanderlog.com/api
    description: Production API

security:
  - SessionCookie: []
    XSRFToken: []

components:
  securitySchemes:
    SessionCookie:
      type: apiKey
      in: cookie
      name: connect.sid
      description: Express session cookie, obtained from POST /api/user/login
    XSRFToken:
      type: apiKey
      in: header
      name: x-xsrf-token
      description: XSRF token returned in login response, required for all mutating requests

  parameters:
    TripKey:
      name: key
      in: path
      required: true
      schema:
        type: string
      description: Trip plan key (e.g., "yxjmjivtfxlkaqcp")
    SectionId:
      name: sectionId
      in: path
      required: true
      schema:
        type: integer
      description: Itinerary section/day ID
    PlaceId:
      name: placeId
      in: path
      required: true
      schema:
        type: integer
      description: Place entry ID within a trip
    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: integer
      description: User ID
    GeoId:
      name: geoId
      in: path
      schema:
        type: integer
      description: Wanderlog geo/destination ID
    ClientSchemaVersion:
      name: clientSchemaVersion
      in: query
      schema:
        type: integer
        default: 2
      description: Client schema version for data compatibility

  schemas:
    # ==================== Trip Plan ====================
    TripPlanCreate:
      type: object
      properties:
        startDate:
          type: string
          format: date
          description: Trip start date (YYYY-MM-DD)
          example: "2026-05-10"
        endDate:
          type: string
          format: date
          example: "2026-05-20"
        title:
          type: string
          example: "Japan Adventure"
        privacy:
          type: string
          enum: [public, private, unlisted]
          default: private
        geoId:
          type: integer
          description: Destination geo ID
      required: [startDate, endDate, title]

    TripPlanResponse:
      type: object
      properties:
        success:
          type: boolean
        tripPlan:
          $ref: '#/components/schemas/TripPlan'
      x-reference-from: function f37561

    TripPlan:
      type: object
      properties:
        id:
          type: integer
        key:
          type: string
        editKey:
          type: string
        title:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        privacy:
          type: string
          enum: [public, private, unlisted, friends]
        collaboratorIds:
          type: array
          items:
            type: integer
        metadata:
          type: object
          properties:
            coverPhoto:
              type: string
            destinationNames:
              type: array
              items:
                type: string
            dayCount:
              type: integer

    ApplyOpsRequest:
      type: object
      properties:
        ops:
          type: array
          items:
            type: object
            description: ShareDB JSON0 operation
            properties:
              p:
                type: array
                items: {}
                description: Path array
              oi:
                $ref: '#/components/schemas/OperationValue'
              od:
                $ref: '#/components/schemas/OperationValue'
              li:
                $ref: '#/components/schemas/OperationValue'
              ld:
                $ref: '#/components/schemas/OperationValue'
      required: [ops]

    OperationValue: {}

    # ==================== Places ====================
    AddPlaceRequest:
      type: object
      description: Legacy single-place shape. The Android bundle uses AddPlacesRequest for native add-place calls.
      properties:
        place:
          type: object
          properties:
            place_id:
              type: string
              description: Google Place ID
            name:
              type: string
            geometry:
              type: object
              properties:
                location:
                  type: object
                  properties:
                    lat:
                      type: number
                      format: double
                    lng:
                      type: number
                      format: double
        text:
          type: string
          description: Optional notes for the place

    AddPlacesRequest:
      type: object
      description: Reference from function 37663. Adds one or more places to a trip section.
      properties:
        places:
          type: array
          items:
            type: object
            additionalProperties: true
          description: Place objects to add. Usually Wanderlog autocomplete/detail objects.
        addDuplicates:
          type: boolean
          description: Whether duplicate places may be added to the trip.
      required: [places]

    RemovePlacesRequest:
      type: object
      description: Reference from function 37666. Removes one or more places by Wanderlog place/block ID.
      properties:
        placeIds:
          type: array
          items:
            type: integer
      required: [placeIds]

    PlacesAutocompleteRequest:
      type: object
      description: JSON value stringified into the `request` query parameter for autocomplete endpoints.
      properties:
        input:
          type: string
        sessiontoken:
          type: string
          description: Places autocomplete session token generated by the client.
        location:
          type: object
          nullable: true
          properties:
            lat:
              type: number
              format: double
            lng:
              type: number
              format: double
        radius:
          type: number
          nullable: true
        language:
          type: string
      required: [input, sessiontoken, language]

    PlaceObject:
      type: object
      properties:
        id:
          type: integer
        placeId:
          type: string
          description: Google Place ID
        name:
          type: string
        address:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        rating:
          type: number
          format: float
        priceLevel:
          type: integer
        types:
          type: array
          items:
            type: string
        photoUrl:
          type: string
        url:
          type: string
        notes:
          type: string
        sectionId:
          type: integer

    # ==================== Flights ====================
    FlightStopsRequest:
      type: object
      properties:
        airlineIata:
          type: string
          example: "NH"
        flightNumber:
          type: string
          example: "7"
        departDate:
          type: string
          format: date
          example: "2026-05-10"

    FlightStopsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            departureAirport:
              type: object
              properties:
                code:
                  type: string
                name:
                  type: string
            arrivalAirport:
              type: object
              properties:
                code:
                  type: string
                name:
                  type: string
            departureTime:
              type: string
            arrivalTime:
              type: string
            duration:
              type: integer
            stops:
              type: integer
            segments:
              type: array
              items:
                type: object

    # ==================== Lodging ====================
    LodgingSearchRequest:
      type: object
      description: Native lodging search request body passed directly as JSON to function 51399.
      properties:
        bounds:
          type: object
          properties:
            swLat:
              type: number
            swLng:
              type: number
            neLat:
              type: number
            neLng:
              type: number
        dates:
          type: object
          properties:
            startDate:
              type: string
              format: date
            endDate:
              type: string
              format: date
          required: [startDate, endDate]
        guests:
          type: integer
          default: 2
        destination:
          type: string
          description: City or area name
        source:
          type: string
          enum: [google, kayak]

    AutofillDayRequest:
      type: object
      description: Reference from function 37715.
      properties:
        tripPlanId:
          type: integer
        sectionDate:
          type: string
          format: date
        geoId:
          type: integer
        language:
          type: string
          description: Added by the client from getAPILanguageForClient().
      required: [tripPlanId, sectionDate, geoId, language]

    ChecklistSectionRequest:
      type: object
      description: Reference from function 37719.
      properties:
        tripPlanId:
          type: integer
        items:
          type: array
          items:
            type: string
      required: [tripPlanId, items]

    DistancesForModeRequest:
      type: object
      description: Traced through function 26282 into function 26405.
      properties:
        placeRuns:
          type: array
          description: Runs of places/blocks to calculate distances for.
          items:
            type: array
            items:
              type: object
              additionalProperties: true
        travelMode:
          type: string
          description: Travel mode, such as driving, walking, bicycling, or transit.
      required: [placeRuns, travelMode]

    OptimizeRouteRequest:
      type: object
      description: Traced through optimizeRouteForSection in function 62671 into function 26411.
      properties:
        places:
          type: array
          items:
            type: object
            additionalProperties: true
        travelMode:
          type: string
        useAutosuggest:
          type: boolean
        sourceId:
          type: integer
          nullable: true
          description: Optional start endpoint block/place ID.
        destinationId:
          type: integer
          nullable: true
          description: Optional end endpoint block/place ID.
      required: [places, travelMode, useAutosuggest]

    # ==================== User ====================
    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
      required: [email, password]

    LoginResponse:
      type: object
      properties:
        success:
          type: boolean
        user:
          type: object
          properties:
            id:
              type: integer
            email:
              type: string
            name:
              type: string
            username:
              type: string

    SetLikeRequest:
      type: object
      properties:
        liked:
          type: boolean

    SendInvitesRequest:
      type: object
      properties:
        invitees:
          type: array
          items:
            type: string
            format: email
        message:
          type: string

    ShareKeyRequest:
      type: object
      properties:
        permissions:
          type: object
          properties:
            canEdit:
              type: boolean
            canView:
              type: boolean

    CollaboratorAction:
      type: object
      properties:
        userId:
          type: integer

    # ==================== Geo ====================
    GeoSearchParams:
      type: object
      properties:
        query:
          type: string
        language:
          type: string
          default: en
        limit:
          type: integer
          default: 10

    # ==================== Common ====================
    SuccessResponse:
      type: object
      description: Standard Wanderlog response envelope for mutations and commands where the bundle does not expose a richer response shape.
      properties:
        success:
          type: boolean
        data:
          type: object
          additionalProperties: true
          nullable: true
        messages:
          type: array
          items:
            type: string
        errTypes:
          type: array
          items:
            type: string

    GenericObjectResponse:
      type: object
      description: Standard response envelope for endpoints returning a domain object whose internal shape is passed through by the React Native bundle.
      properties:
        success:
          type: boolean
        data:
          type: object
          additionalProperties: true

    GenericArrayResponse:
      type: object
      description: Standard response envelope for endpoints returning arrays of domain objects whose internal shape is passed through by the React Native bundle.
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            additionalProperties: true

    CsvUrlResponse:
      type: object
      description: Response envelope for endpoints that create or return a URL to a CSV/export artifact.
      properties:
        success:
          type: boolean
        url:
          type: string
          format: uri
        data:
          type: object
          additionalProperties: true

    LikeCountResponse:
      type: object
      properties:
        success:
          type: boolean
        likeCount:
          type: integer
        liked:
          type: boolean
        data:
          type: object
          additionalProperties: true

    ShareKeyResponse:
      type: object
      properties:
        success:
          type: boolean
        key:
          type: string
        shareKey:
          type: string
        data:
          type: object
          additionalProperties: true

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        messages:
          type: array
          items:
            type: string
        errTypes:
          type: array
          items:
            type: string

paths:
  # ==================== Trip Plans ====================
  /tripPlans:
    get:
      operationId: listUserTripPlans
      summary: List all trip plans for the authenticated user
      x-function-id: 37593
      x-reference: "GET /api/tripPlans"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: List of user's trip plans
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  tripPlans:
                    type: array
                    items:
                      $ref: '#/components/schemas/TripPlan'
    post:
      operationId: createTripPlan
      summary: Create a new trip plan
      x-function-id: 37561
      x-reference: "POST /api/tripPlans with body: { ...args, language }"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/TripPlanCreate'
                - type: object
                  properties:
                    language:
                      type: string
                      default: en
      responses:
        "200":
          description: Created trip plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripPlanResponse'

  /tripPlans/{key}:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getTripPlan
      summary: Get a single trip plan by key
      x-function-id: 37574
      x-reference: "GET /api/tripPlans/{key} params: {clientSchemaVersion, registerView}"
      parameters:
        - $ref: '#/components/parameters/ClientSchemaVersion'
        - name: registerView
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Trip plan with full itinerary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripPlanResponse'
    delete:
      operationId: deleteTripPlan
      summary: Delete a trip plan
      x-function-id: 37587
      x-reference: "DELETE /api/tripPlans/{key}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Trip deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /tripPlans/copy/{key}:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: copyTripPlan
      summary: Copy a trip plan
      x-function-id: 37571
      x-reference: "POST /api/tripPlans/copy/{key}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Copy of the trip plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripPlanResponse'

  /tripPlans/{key}/restore:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: restoreTripPlan
      summary: Restore a soft-deleted trip plan
      x-function-id: 37590
      x-reference: "POST /api/tripPlans/{key}/restore"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Trip restored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /tripPlans/{key}/sections:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getTripPlanSections
      summary: Get all itinerary sections/days for a trip
      x-function-id: 37659
      x-reference: "GET /api/tripPlans/{key}/sections params: {datePreference}"
      parameters:
        - name: datePreference
          in: query
          schema:
            type: string
            enum: [day, month]
      responses:
        "200":
          description: Array of itinerary sections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /tripPlans/{key}/places:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getTripPlanPlaces
      summary: Get all places for a trip plan
      x-function-id: 37583
      x-reference: "GET /api/tripPlans/{key}/places"
      responses:
        "200":
          description: Array of places
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /tripPlans/{key}/sections/places:
    parameters:
      - $ref: '#/components/parameters/TripKey'
    post:
      operationId: addPlacesToTripPlanWithoutSection
      summary: Add places to a trip without a specific itinerary section
      x-function-id: 37663
      x-reference: "POST /api/tripPlans/{key}/sections/places body: {places, addDuplicates}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPlacesRequest'
      responses:
        "200":
          description: Places added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    delete:
      operationId: removePlacesFromTripPlanWithoutSection
      summary: Remove places from a trip without a specific itinerary section
      x-function-id: 37666
      x-reference: "DELETE /api/tripPlans/{key}/sections/places body: {placeIds}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemovePlacesRequest'
      responses:
        "200":
          description: Places removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /tripPlans/{key}/sections/{sectionId}/places:
    parameters:
      - $ref: '#/components/parameters/TripKey'
      - $ref: '#/components/parameters/SectionId'
    post:
      operationId: addPlacesToTripPlan
      summary: Add places to a specific itinerary section
      x-function-id: 37663
      x-reference: "POST /api/tripPlans/{key}/sections/{sectionId}/places body: {places, addDuplicates}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPlacesRequest'
      responses:
        "200":
          description: Places added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    delete:
      operationId: removePlacesFromTripPlan
      summary: Remove places from an itinerary section
      x-function-id: 37666
      x-reference: "DELETE /api/tripPlans/{key}/sections/{sectionId}/places body: {placeIds}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemovePlacesRequest'
      responses:
        "200":
          description: Places removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /tripPlans/{key}/applyOps:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: applyOpsToTripPlan
      summary: Apply ShareDB operational transforms for complex edits
      x-function-id: 37675
      x-reference: "POST /api/tripPlans/{key}/applyOps body: {ops: array}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyOpsRequest'
      responses:
        "200":
          description: Operations applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /tripPlans/{key}/images:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getTripPlanImages
      summary: Get images for a trip plan
      x-function-id: 37580
      x-reference: "GET /api/tripPlans/{key}/images"
      responses:
        "200":
          description: Array of image objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /tripPlans/{key}/image:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: uploadTripPlanImage
      summary: Upload an image to a trip plan
      x-function-id: 37577
      x-reference: "POST /api/tripPlans/{key}/image multipart upload, Content-Type: file.type, timeout: 120s"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Image uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /tripPlans/{key}/export/v2:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: exportTripPlan
      summary: Export a trip plan (e.g., to Google Maps)
      x-function-id: 37639
      x-reference: "POST /api/tripPlans/{key}/export/v2 timeout: 300s"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Export initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsvUrlResponse'

  /tripPlans/{key}/createGuideFromTripPlan:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: createGuideFromTripPlan
      summary: Promote a trip plan into a published guide
      x-function-id: 37678
      x-reference: "POST /api/tripPlans/{key}/createGuideFromTripPlan"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Guide created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /tripPlans/{key}/updateTripPlanGeo/{geoId}:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      - name: geoId
        in: path
        required: true
        schema:
          type: integer
    post:
      operationId: updateTripPlanGeo
      summary: Update the destination geo for a trip plan
      x-function-id: 37681
      x-reference: "POST /api/tripPlans/{key}/updateTripPlanGeo/{geoId}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Geo updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /tripPlans/{key}/updateRequired:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: checkIfUpdateRequired
      summary: Check if a trip plan requires a schema update
      x-function-id: 37684
      x-reference: "GET /api/tripPlans/{key}/updateRequired params: {clientSchemaVersion}"
      parameters:
        - $ref: '#/components/parameters/ClientSchemaVersion'
      responses:
        "200":
          description: Update status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /tripPlans/{key}/registerView:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: registerTripPlanView
      summary: Register a view of a shared trip
      x-function-id: 37696
      x-reference: "POST /api/tripPlans/{key}/registerView"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: View registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /tripPlans/{key}/distinction:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getTripPlanDistinction
      summary: Get a trip's distinction/badge
      x-function-id: 37690
      x-reference: "GET /api/tripPlans/{key}/distinction"
      responses:
        "200":
          description: Distinction data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'
    post:
      operationId: setTripPlanDistinction
      summary: Set a trip's distinction/badge
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Distinction set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /tripPlans/{key}/like:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: setLike
      summary: Like or unlike a trip plan
      x-function-id: 37656
      x-reference: "POST /api/tripPlans/{key}/like body: {liked: bool}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetLikeRequest'
      responses:
        "200":
          description: Like status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /tripPlans/{key}/likeCount:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getLikeCount
      summary: Get the like count for a trip plan
      x-function-id: 37650
      x-reference: "GET /api/tripPlans/{key}/likeCount"
      responses:
        "200":
          description: Like count and user's like status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LikeCountResponse'

  /tripPlans/{key}/invite:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: sendTripPlanInvites
      summary: Send invites to collaborate on a trip
      x-function-id: 37643
      x-reference: "POST /api/tripPlans/{key}/invite body: {invitees: string[], message?: string}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendInvitesRequest'
      responses:
        "200":
          description: Invites sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /tripPlans/{key}/invites:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: listTripPlanInvites
      summary: List all invites sent for a trip
      x-function-id: 37647
      x-reference: "GET /api/tripPlans/{key}/invites"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Array of invites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /tripPlans/{editKey}/shareKey:
    parameters:
      - name: editKey
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: getOrCreateTripPlanKey
      summary: Get or create a share key for a trip
      x-function-id: 37712
      x-reference: "POST /api/tripPlans/{editKey}/shareKey body: {permissions: {canEdit, canView}}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      parameters:
        - name: editKey
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareKeyRequest'
      responses:
        "200":
          description: Share key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareKeyResponse'

  /tripPlans/{key}/collaborator:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: addCollaborator
      summary: Add a collaborator to a trip
      x-function-id: 37708
      x-reference: "POST /api/tripPlans/{key}/collaborator"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorAction'
      responses:
        "200":
          description: Collaborator added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    delete:
      operationId: removeCollaborator
      summary: Remove a collaborator from a trip
      x-function-id: 37706
      x-reference: "DELETE /api/tripPlans/{key}/collaborator body: {userId}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorAction'
      responses:
        "200":
          description: Collaborator removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /tripPlans/{key}/flights:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getTripFlights
      summary: Get flights attached to a trip plan
      responses:
        "200":
          description: Array of flights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /tripPlans/{key}/expensesAsCSV:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getTripExpensesCSV
      summary: Get trip expenses as a CSV file
      x-function-id: 37720
      x-reference: "getURLForExportExpensesAsCSV (returns URL string)"
      responses:
        "200":
          description: CSV file URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsvUrlResponse'

  # ==================== Feed & Discovery ====================
  /tripPlans/home:
    get:
      operationId: listHomeFeedTripPlans
      summary: Get the user's home feed
      x-function-id: 37621
      x-reference: "GET /api/tripPlans/home"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Home feed data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /tripPlans/feed:
    get:
      operationId: getFeedV1
      summary: Get legacy trip feed
      x-function-id: 37597
      x-reference: "GET /api/tripPlans/feed"
      responses:
        "200":
          description: Feed data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /tripPlans/feed/v2:
    get:
      operationId: getFeedV2
      summary: Get trip feed v2
      x-function-id: 37600
      x-reference: "GET /api/tripPlans/feed/v2"
      responses:
        "200":
          description: Feed v2 data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /tripPlans/feed/mostRecentlyEdited:
    get:
      operationId: getFeedMostRecent
      summary: Get the most recently edited trip
      x-function-id: 37603
      x-reference: "GET /api/tripPlans/feed/mostRecentlyEdited"
      responses:
        "200":
          description: Most recent trip data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /tripPlans/history:
    get:
      operationId: listTripPlansHistory
      summary: Get paginated trip edit history
      x-function-id: 37624
      x-reference: "GET /api/tripPlans/history with optional ?offset=N pagination"
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: History data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /tripPlans/friendsPlans:
    get:
      operationId: listFriendsTripPlans
      summary: Get trip plans from friends
      x-function-id: 37627
      x-reference: "GET /api/tripPlans/friendsPlans"
      responses:
        "200":
          description: Friends' plans
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /tripPlans/browse/guides:
    get:
      operationId: listBrowsePageGoodGuides
      summary: Browse all curated guides
      x-function-id: 37699
      x-reference: "GET /api/tripPlans/browse/guides"
      responses:
        "200":
          description: List of guides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /tripPlans/browse/guides/{geoId}:
    parameters:
      - name: geoId
        in: path
        required: true
        schema:
          type: integer
    get:
      operationId: listGeoPageGoodGuides
      summary: Browse guides for a specific destination
      x-function-id: 37702
      x-reference: "GET /api/tripPlans/browse/guides/{geoId}"
      responses:
        "200":
          description: List of guides for destination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /tripPlans/landingPage/guides:
    get:
      operationId: listLandingPageGuides
      summary: Get guides for the landing page
      x-function-id: 37630
      x-reference: "GET /api/tripPlans/landingPage/guides"
      responses:
        "200":
          description: Landing page guides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /tripPlans/landingPage/stories:
    get:
      operationId: listLandingPageStories
      summary: Get stories for the landing page
      x-function-id: 37633
      x-reference: "GET /api/tripPlans/landingPage/stories"
      responses:
        "200":
          description: Landing page stories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /tripPlans/getIfEdited:
    post:
      operationId: getTripPlansIfEdited
      summary: Check and return trips that have been edited
      x-function-id: 37687
      x-reference: "POST /api/tripPlans/getIfEdited body: {tripPlans: [...], platform, clientSchemaVersion}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tripPlans:
                  type: array
                  items:
                    type: object
                platform:
                  type: string
                clientSchemaVersion:
                  type: integer
      responses:
        "200":
          description: Edited trips
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /tripPlans/createExampleTripPlan:
    post:
      operationId: createExampleTripPlan
      summary: Create an example/reference trip plan
      x-function-id: 37564
      x-reference: "POST /api/tripPlans/createExampleTripPlan"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Example trip created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripPlanResponse'

  /tripPlans/autofillDay:
    post:
      operationId: autofillDay
      summary: Autofill a day's itinerary with suggestions
      x-function-id: 37715
      x-reference: "POST /api/tripPlans/autofillDay body: {tripPlanId, sectionDate, geoId, language}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutofillDayRequest'
      responses:
        "200":
          description: Day autofilled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /tripPlans/checklistSection:
    post:
      operationId: addChecklistItems
      summary: Add packing list/checklist items to a section
      x-function-id: 37719
      x-reference: "POST /api/tripPlans/checklistSection body: {tripPlanId, items}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChecklistSectionRequest'
      responses:
        "200":
          description: Checklist items added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /tripPlans/journalStopPolylines:
    post:
      operationId: fetchJournalStopPolylines
      summary: Fetch polyline data for journal stops
      responses:
        "200":
          description: Polyline data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /tripPlans/viewOnlyJournal/{journalKey}:
    parameters:
      - name: journalKey
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getViewOnlyJournal
      summary: Fetch a published view-only journal
      x-function-id: 37723
      x-reference: "GET /api/tripPlans/viewOnlyJournal/{journalKey}"
      responses:
        "200":
          description: Journal data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /tripPlans/viewOnlyJournal/mobile/{journalKey}:
    parameters:
      - name: journalKey
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getViewOnlyJournalMobile
      summary: Fetch a mobile-optimized view-only journal
      x-function-id: 37726
      x-reference: "GET /api/tripPlans/viewOnlyJournal/mobile/{journalKey}"
      responses:
        "200":
          description: Mobile journal data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /tripPlans/myProfile:
    get:
      operationId: getMyProfileData
      summary: Get the authenticated user's profile and trips
      x-function-id: 37618
      x-reference: "GET /api/tripPlans/myProfile/"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: User profile with trip list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /tripPlans/profile/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
    get:
      operationId: getProfileDataByUserId
      summary: Get a user's public profile and trips
      x-function-id: 37610
      x-reference: "GET /api/tripPlans/profile/{userId}"
      responses:
        "200":
          description: Public profile and trips
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /tripPlans/profile/byUsername/{username}:
    parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getProfileByUsername
      summary: Get a user's public profile by @username
      x-function-id: 37606
      x-reference: "GET /api/tripPlans/profile/byUsername/{username}"
      responses:
        "200":
          description: Public profile and trips
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /tripPlans/profile/sampleMapsByUsernames/{usernames}:
    parameters:
      - name: usernames
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getFriendProfileMaps
      summary: Get sample maps for comma-separated usernames
      x-function-id: 37614
      x-reference: "GET /api/tripPlans/profile/sampleMapsByUsernames/{join(usernames,',')}"
      responses:
        "200":
          description: Sample map data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  # ==================== Flights ====================
  /flights/allAirlines:
    get:
      operationId: getAllAirlinesInternal
      summary: Get all airlines
      x-function-id: 29982
      x-reference: "GET /api/flights/allAirlines"
      responses:
        "200":
          description: Array of airlines
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /flights/autocompleteAirport/{query}:
    parameters:
      - name: query
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: autocompleteAirport
      summary: Autocomplete airport search
      x-function-id: 29985
      x-reference: "GET /api/flights/autocompleteAirport/{encodeURIComponent(query)}"
      parameters:
        - name: query
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Autocomplete results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /flights/autocompleteAirportWithLocation/{query}:
    parameters:
      - name: query
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: autocompleteAirportWithLocation
      summary: Autocomplete airport with location context
      x-function-id: 29988
      x-reference: "GET /api/flights/autocompleteAirportWithLocation/{encodeURIComponent(query)}"
      responses:
        "200":
          description: Autocomplete results with location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /flights/flightStops:
    get:
      operationId: getFlightStops
      summary: Get flight stops for a specific flight
      x-function-id: 29991
      x-reference: "GET /api/flights/flightStops params: {airlineIata, flightNumber, departDate}"
      parameters:
        - name: airlineIata
          in: query
          required: true
          schema:
            type: string
          example: "NH"
        - name: flightNumber
          in: query
          required: true
          schema:
            type: string
          example: "7"
        - name: departDate
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Flight stop data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightStopsResponse'

  /tripPlans/flights:
    post:
      operationId: createTripPlanFromFlights
      summary: Create a trip plan from a flight booking
      x-function-id: 37568
      x-reference: "POST /api/tripPlans/flights body: create-trip-from-flights request object"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Trip plan created from flights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripPlanResponse'

  # ==================== Places API ====================
  /placesAPI/getPlaceDetailsAndCardData:
    get:
      operationId: getPlaceDetailsAndCardData
      summary: Get detailed place info with card data
      x-function-id: 37820
      x-reference: "GET /api/placesAPI/getPlaceDetailsAndCardData params: {placeId, language}"
      parameters:
        - name: placeId
          in: query
          required: true
          schema:
            type: string
          description: Google Place ID
        - name: language
          in: query
          schema:
            type: string
            default: en
      responses:
        "200":
          description: Place details and card data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /placesAPI/getPlaceDetails/v2:
    get:
      operationId: getPlaceDetailsV2
      summary: Get place details v2
      responses:
        "200":
          description: Place details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /placesAPI/getMultiplePlaceDetails:
    get:
      operationId: getMultiplePlaceDetails
      summary: Get details for multiple places
      responses:
        "200":
          description: Multiple place details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /placesAPI/autocomplete:
    get:
      operationId: autocompletePlaces
      summary: Autocomplete places through Wanderlog
      x-function-id: 37823
      x-reference: "GET /api/placesAPI/autocomplete params: {request: JSON.stringify({input, sessiontoken, location, radius, language})}"
      parameters:
        - name: request
          in: query
          required: true
          schema:
            type: string
          description: JSON stringified PlacesAutocompleteRequest.
      responses:
        "200":
          description: Autocomplete results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /placesAPI/autocomplete/v2:
    get:
      operationId: autocompletePlacesAndSuggestions
      summary: Autocomplete places v2 with suggestions
      x-function-id: 37826
      x-reference: "GET /api/placesAPI/autocomplete/v2 params: {request: JSON.stringify({input, sessiontoken, location, radius, language})}"
      parameters:
        - name: request
          in: query
          required: true
          schema:
            type: string
          description: JSON stringified PlacesAutocompleteRequest.
      responses:
        "200":
          description: Autocomplete v2 results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /placesAPI/searchPlaces:
    get:
      operationId: searchPlaces
      summary: Search places through Wanderlog
      x-function-id: 37829
      x-reference: "GET /api/placesAPI/searchPlaces params: {request: JSON.stringify(query)}"
      parameters:
        - name: request
          in: query
          required: true
          schema:
            type: string
          description: JSON stringified search request
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /placesAPI/findPlaceFromLngLat:
    get:
      operationId: findPlaceFromLngLat
      summary: Find place from lat/lng coordinates
      x-function-id: 37832
      x-reference: "GET /api/placesAPI/findPlaceFromLngLat params: {request: JSON.stringify(data)}"
      responses:
        "200":
          description: Place found at location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /placesAPI/mapLayerGroups:
    get:
      operationId: getMapLayerGroupPlaces
      summary: Get map layer groups for places
      x-function-id: 37835
      responses:
        "200":
          description: Map layer groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /places/card:
    get:
      operationId: getPlaceCardData
      summary: Get place card data (unused/legacy)
      responses:
        "200":
          description: Place card data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /places/metadata:
    get:
      operationId: getGooglePlaceMetadata
      summary: Get Google Place metadata
      responses:
        "200":
          description: Place metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /places/placePageGeos:
    get:
      operationId: getPlacePageGeos
      summary: Get geos for the place page
      x-function-id: 45379
      responses:
        "200":
          description: Place page geos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  # ==================== Places List ====================
  /placesList:
    post:
      operationId: getPlacesList
      summary: Get a places list
      responses:
        "200":
          description: Places list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /placesList/attractionsList/{geoId}:
    parameters:
      - name: geoId
        in: path
        required: true
        schema:
          type: integer
    get:
      operationId: getAttractionsTopPlacesList
      summary: Get top attractions for a geo
      responses:
        "200":
          description: Attractions list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /placesList/betweenGeos/byGeoIds/{geoIds}:
    parameters:
      - name: geoIds
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getBetweenGeosPlacesList
      summary: Get places list between two geos
      responses:
        "200":
          description: Places between geos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /placesList/snapshot/{snapshotId}:
    parameters:
      - name: snapshotId
        in: path
        required: true
        schema:
          type: integer
    get:
      operationId: getClientPlacesListDataFromSnapshot
      summary: Get places list data from a snapshot
      responses:
        "200":
          description: Places list snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  # ==================== Geo ====================
  /geo/autocomplete/{query}:
    parameters:
      - name: query
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Autocomplete geo/destination search
      operationId: autocompleteGeo
      x-function-id: 39930
      x-reference: "GET /api/geo/autocomplete/{encodeURIComponent(query)} params: caller-supplied autocomplete options object"
      parameters:
        - name: query
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Geo autocomplete results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /geo/autocompleteGeoAndUser/{query}:
    parameters:
      - name: query
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Autocomplete geo and user
      operationId: autocompleteGeoAndUser
      x-function-id: 39934
      x-reference: "GET /api/geo/autocompleteGeoAndUser/{encodeURIComponent(query)}"
      responses:
        "200":
          description: Combined geo and user results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /geo/search:
    get:
      summary: Search geos
      operationId: searchPlace
      x-function-id: 39943
      x-reference: "GET /api/geo/search params: {query, language, limit, ...searchOptions}"
      parameters:
        - name: query
          in: query
          schema:
            type: string
        - name: language
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Geo search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /geo/place/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      summary: Get a specific geo/place
      operationId: getPlace
      x-function-id: 39946
      x-reference: "GET /api/geo/place/{id}"
      responses:
        "200":
          description: Geo place data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /geo/tripPlannerGeos:
    get:
      summary: Get geos for the trip planner page
      operationId: getTripPlannerPageGeos
      x-function-id: 39952
      x-reference: "GET /api/geo/tripPlannerGeos"
      responses:
        "200":
          description: Trip planner geos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /geo/listKeywordCategories:
    get:
      summary: List keyword categories
      operationId: listKeywordCategories
      x-function-id: 39955
      x-reference: "GET /api/geo/listKeywordCategories params: {language}"
      parameters:
        - name: language
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Keyword categories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /geo/listGeosWithSearchedCategories:
    get:
      summary: List geos with searched categories
      operationId: listGeosWithSearchedCategories
      x-function-id: 39958
      responses:
        "200":
          description: Geos with categories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /geo/listGeoCategoriesForCategory:
    get:
      summary: List geo categories for a category
      operationId: listGeoCategoriesForCategory
      x-function-id: 39961
      responses:
        "200":
          description: Geo categories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /geo/listGeoCategoriesForGeo:
    get:
      summary: List geo categories for a geo
      operationId: listGeoCategoriesForGeo
      x-function-id: 39964
      responses:
        "200":
          description: Geo categories for geo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /geo/nearestKayakCity:
    get:
      summary: Find nearest Kayak city to coordinates
      operationId: findNearestKayakCity
      x-function-id: 39979
      x-reference: "GET /api/geo/nearestKayakCity params: {longitude, latitude, cityNameToMatch}"
      parameters:
        - name: latitude
          in: query
          schema:
            type: number
        - name: longitude
          in: query
          schema:
            type: number
        - name: cityNameToMatch
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Nearest Kayak city
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /geo/countries:
    get:
      summary: List countries
      operationId: listCountries
      x-function-id: 39992
      x-reference: "GET /api/geo/countries params: {language}"
      responses:
        "200":
          description: List of countries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /geo/popularAndNearby:
    get:
      summary: Get popular and nearby destinations
      operationId: getPopularAndNearbyGeos
      x-function-id: 40004
      x-reference: "GET /api/geo/popularAndNearby"
      responses:
        "200":
          description: Popular and nearby destinations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /geo/clientGeos:
    get:
      summary: Get client geos by IDs
      operationId: getClientGeos
      responses:
        "200":
          description: Client geos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /geo/findCountryForIP:
    get:
      summary: Find country by IP
      operationId: findCountryForIP
      x-function-id: 39943
      responses:
        "200":
          description: Country data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /geo/findNearestGeosToIP:
    get:
      operationId: findNearestGeosToIP
      summary: Find nearest geos to client IP
      responses:
        "200":
          description: Nearest geos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /geo/geosWithGoodGuides:
    get:
      operationId: listGeosWithGoodGuides
      summary: Get geos that have good guides
      responses:
        "200":
          description: Geos with guides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /geo/geoInMonthGeos:
    get:
      operationId: listGeoInMonthGeos
      summary: Get geos for a specific month
      responses:
        "200":
          description: Month geos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /geo/extraExplorePagePlace/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      operationId: getExtraExplorePagePlace
      summary: Get extra explore page place data
      responses:
        "200":
          description: Extra place data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  # ==================== Lodging ====================
  /lodging/searchLodgings:
    post:
      operationId: searchLodgings
      summary: Search for hotels/lodging
      x-function-id: 51399
      x-reference: "POST /api/lodging/searchLodgings body: {bounds, dates, guests, ...searchOptions}, timeout: 20s"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LodgingSearchRequest'
      responses:
        "200":
          description: Lodging search results with offers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /lodging/property/{lodgingPropertyId}:
    parameters:
      - name: lodgingPropertyId
        in: path
        required: true
        schema:
          type: integer
    get:
      operationId: getLodgingDetails
      summary: Get details for a specific lodging property
      x-function-id: 51406
      x-reference: "GET /api/lodging/property/{id} params: {maybeRefreshData}"
      parameters:
        - name: maybeRefreshData
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Lodging property details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /lodging/property/{lodgingPropertyId}/offers:
    parameters:
      - name: lodgingPropertyId
        in: path
        required: true
        schema:
          type: integer
    get:
      operationId: getLodgingRoomOffers
      summary: Get room offers for a lodging property
      x-function-id: 51409
      x-reference: "GET /api/lodging/property/{id}/offers params: {dates, guests, sources}"
      parameters:
        - name: dates
          in: query
          required: true
          schema:
            type: string
          description: JSON stringified dates object
        - name: guests
          in: query
          required: true
          schema:
            type: string
          description: JSON stringified guests data
        - name: sources
          in: query
          schema:
            type: string
          description: Comma-separated source list
      responses:
        "200":
          description: Room offers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /lodging/property/kayak/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    post:
      operationId: findOrCreateLodgingPropertyFromKayak
      summary: Find or create a Kayak lodging property
      x-function-id: 51402
      x-reference: "POST /api/lodging/property/kayak/{id}"
      responses:
        "200":
          description: Property found/created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /lodging/checkoutData:
    get:
      operationId: getLodgingCheckoutData
      summary: Get checkout data for a lodging booking
      x-function-id: 51415
      x-reference: "GET /api/lodging/checkoutData params: checkout lookup options object"
      parameters:
        - name: lodgingPropertyId
          in: query
          schema:
            type: integer
        - name: itineraryId
          in: query
          schema:
            type: integer
        - name: dates
          in: query
          schema:
            type: string
          description: JSON stringified dates object, when present.
        - name: guests
          in: query
          schema:
            type: string
          description: JSON stringified guests object, when present.
      responses:
        "200":
          description: Checkout data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /lodging/getGooglePriceRates:
    get:
      operationId: getGooglePriceRates
      summary: Get Google price rates for lodging
      x-function-id: 51439
      x-reference: "GET /api/lodging/getGooglePriceRates params: {id, dates, guests, currencyCode}"
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: JSON stringified property ID
        - name: dates
          in: query
          required: true
          schema:
            type: string
          description: JSON stringified dates
        - name: guests
          in: query
          required: true
          schema:
            type: string
          description: JSON stringified guests data
        - name: currencyCode
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Price rates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /lodging:
    get:
      operationId: listLodgingItineraries
      summary: List lodging itineraries
      x-function-id: 51412
      x-reference: "GET /api/lodging"
      responses:
        "200":
          description: Lodging itineraries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /lodging/cancel/{itineraryId}:
    parameters:
      - name: itineraryId
        in: path
        required: true
        schema:
          type: integer
    delete:
      operationId: cancelLodgingItinerary
      summary: Cancel a lodging itinerary
      x-function-id: 51422
      x-reference: "DELETE /api/lodging/cancel/{id} params: {expediaRoomConfirmationNumber}"
      responses:
        "200":
          description: Itinerary cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /lodging/registerPaymentAndBook:
    post:
      operationId: registerPaymentAndBookLodging
      summary: Register payment and book lodging
      x-function-id: 51396 (closure)
      responses:
        "200":
          description: Booking confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /lodging/finishLodgingBooking:
    post:
      operationId: finishLodgingBooking
      summary: Finish lodging booking process
      responses:
        "200":
          description: Booking finished
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /lodging/generatePciBookingAccessToken:
    post:
      operationId: generatePciBookingAccessToken
      summary: Generate PCI booking access token
      responses:
        "200":
          description: Access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ==================== User ====================
  /user/login:
    post:
      operationId: login
      summary: Log in with email and password
      x-function-id: 17238
      x-reference: "POST /api/user/login body: {email, password, appleId}"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        "200":
          description: Login success, sets session cookie
          headers:
            Set-Cookie:
              schema:
                type: string
              description: connect.sid session cookie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'

  /user/logout:
    post:
      operationId: logout
      summary: Log out
      x-function-id: 17262
      x-reference: "POST /api/user/logout"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Logged out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /user/register:
    post:
      operationId: register
      summary: Register a new user account
      x-function-id: 17256
      x-reference: "POST /api/user/register"
      responses:
        "200":
          description: User registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'

  /user:
    get:
      operationId: getLoggedInUser
      summary: Get the authenticated user's profile
      x-function-id: 17259
      x-reference: "GET /api/user"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'
    post:
      operationId: updateProfile
      summary: Update user profile
      x-function-id: 17232
      x-reference: "POST /api/user body: user profile update object"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /user/profilePicture:
    post:
      operationId: uploadProfilePicture
      summary: Upload a profile picture
      x-function-id: 17235
      x-reference: "POST /api/user/profilePicture multipart, Content-Type: file.type"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Profile picture uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /user/utcOffset:
    post:
      operationId: updateUTCOffset
      summary: Set the user's UTC offset
      x-function-id: 19347
      x-reference: "POST /api/user/utcOffset body: {utcOffset}"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                utcOffset:
                  type: integer
                  example: -420
      responses:
        "200":
          description: UTC offset updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /user/createPendingUser:
    post:
      operationId: createPendingUser
      summary: Create a pending/skeleton user
      x-function-id: 17253
      responses:
        "200":
          description: Pending user created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /user/loginToken:
    post:
      operationId: loginWithToken
      summary: Log in with a token
      x-function-id: 17265
      responses:
        "200":
          description: Logged in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'

  /user/isUsernameTaken/{username}:
    parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: isUsernameTaken
      summary: Check if a username is already taken
      x-function-id: 19350
      x-reference: "GET /api/user/isUsernameTaken/{encodeURIComponent(username)}"
      responses:
        "200":
          description: Username availability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /user/keyValue/{key}:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getKeyValue
      summary: Get a key-value store entry
      x-function-id: 19360
      x-reference: "GET /api/user/keyValue/{key}"
      responses:
        "200":
          description: Key-value data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'
    post:
      operationId: setKeyValue
      summary: Set a key-value store entry
      x-function-id: 19357
      x-reference: "POST /api/user/keyValue/{key} body: {value}"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  description: Value to store (JSON or plain string)
      responses:
        "200":
          description: Value stored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /user/notification/settings:
    get:
      operationId: getNotificationSettings
      summary: Get notification settings
      x-function-id: 19375
      x-reference: "GET /api/user/notification/settings params: notification settings query object"
      parameters:
        - name: platforms
          in: query
          schema:
            type: string
          description: Optional platform filter supplied by caller.
      responses:
        "200":
          description: Notification settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'
    post:
      operationId: updateNotificationSettings
      summary: Update notification settings
      responses:
        "200":
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /user/notifications:
    get:
      operationId: getNotifications
      summary: Get user notifications
      responses:
        "200":
          description: Notifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /user/notifications/markRead:
    post:
      operationId: markNotificationsRead
      summary: Mark notifications as read
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notificationIds:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Notifications marked read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /user/emails:
    get:
      operationId: getScannedEmails
      summary: Get the user's scanned travel emails
      x-function-id: 19381
      x-reference: "GET /api/user/emails with optional before cursor"
      parameters:
        - name: before
          in: query
          schema:
            type: string
          description: Cursor for pagination
      responses:
        "200":
          description: Scanned emails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /user/autocomplete/{search}:
    parameters:
      - name: search
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: autocompleteUser
      summary: Autocomplete users by name
      x-function-id: 19434
      x-reference: "GET /api/user/autocomplete/{search}"
      responses:
        "200":
          description: Autocomplete results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /user/byEmail:
    get:
      operationId: getUserInfoByEmail
      summary: Find a user by email
      x-function-id: 19424
      x-reference: "GET /api/user/byEmail params: {email}"
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
            format: email
      responses:
        "200":
          description: User info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /user/following/list:
    post:
      operationId: listFollowing
      summary: List users the authenticated user follows
      responses:
        "200":
          description: Following list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /user/following/visitedGeo/{geoId}:
    parameters:
      - name: geoId
        in: path
        required: true
        schema:
          type: integer
    get:
      operationId: getFollowersWhoVisitedGeo
      summary: Get followers who visited a specific geo
      responses:
        "200":
          description: Followers who visited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /user/leaderboard:
    get:
      operationId: leaderboard
      summary: Get user leaderboard
      responses:
        "200":
          description: Leaderboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  /user/block:
    post:
      operationId: blockUser
      summary: Block another user
      responses:
        "200":
          description: User blocked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /user/subscribeBlog:
    post:
      operationId: subscribeBlog
      summary: Subscribe to the Wanderlog blog
      responses:
        "200":
          description: Subscribed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /user/fcmToken:
    post:
      operationId: saveFCMToken
      summary: Save Firebase Cloud Messaging token
      responses:
        "200":
          description: Token saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /user/saveFlightDealSettings:
    post:
      operationId: saveFlightDealSettings
      summary: Save flight deal notification settings
      responses:
        "200":
          description: Settings saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ==================== Config ====================
  /config/globalConfig:
    get:
      operationId: getGlobalConfig
      summary: Get the server's global client configuration
      x-function-id: 13090
      x-reference: "GET /api/config/globalConfig method: GET"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Global configuration object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  # ==================== Session Store ====================
  /sessionStore:
    get:
      operationId: getSessionStore
      summary: Get session store data
      responses:
        "200":
          description: Session store data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'
    post:
      operationId: setSessionStoreValue
      summary: Set a value in the session store
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Value set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /sessionStore/preferences/{locale}:
    parameters:
      - name: locale
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getSessionPreferences
      summary: Get session preferences for a locale
      responses:
        "200":
          description: Session preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  # ==================== Analytics ====================
  /analytics/firebaseAppInstanceId:
    post:
      operationId: saveFirebaseAppInstanceId
      summary: Save Firebase App Instance ID
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /analytics/googleAnalyticsClientId:
    post:
      operationId: saveGoogleAnalyticsClientId
      summary: Save Google Analytics client ID
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /analytics/trackTestEvent:
    post:
      operationId: trackServerTestEvent
      summary: Track a test analytics event
      x-function-id: 13093
      x-reference: "POST /api/analytics/trackTestEvent"
      responses:
        "200":
          description: Event tracked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ==================== AI Chat ====================
  /chat/tripPlanAssistant/chats:
    get:
      operationId: getTripPlanAssistantChats
      summary: List AI chat sessions for a trip plan
      x-function-id: 49821
      x-reference: "GET /api/chat/tripPlanAssistant/chats params: {tripPlanId, search, lastItemIsBefore, pageSize}"
      parameters:
        - name: tripPlanId
          in: query
          required: true
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
        - name: lastItemIsBefore
          in: query
          schema:
            type: integer
        - name: pageSize
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Chat sessions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'
    post:
      operationId: createTripPlanAssistantChat
      summary: Create a new AI chat session for trip planning
      responses:
        "200":
          description: Chat created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /chat/tripPlanAssistant/chats/{chatId}:
    parameters:
      - name: chatId
        in: path
        required: true
        schema:
          type: integer
    post:
      operationId: continueTripPlanAssistantChat
      summary: Continue an existing AI chat session
      responses:
        "200":
          description: Chat continued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    delete:
      operationId: deleteTripPlanAssistantChat
      summary: Delete an AI chat session
      x-function-id: 49829
      x-reference: "DELETE /api/chat/tripPlanAssistant/chats/{chatId}"
      responses:
        "200":
          description: Chat deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /chat/tripPlanAssistant/getText/v2:
    get:
      operationId: getTripPlanAssistantText
      summary: Get AI-generated text
      responses:
        "200":
          description: Generated text
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /chat/tripPlanAssistant/getHighlights/v2:
    post:
      operationId: getTripPlanAssistantHighlights
      summary: Get AI-generated highlights
      x-function-id: 49813
      x-reference: "POST /api/chat/tripPlanAssistant/getHighlights/v2 body: {assistantMessage, tripPlanId, selectedGeoId, chatId, assistantChatItemId}"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                assistantMessage:
                  type: string
                tripPlanId:
                  type: integer
                selectedGeoId:
                  type: integer
                chatId:
                  type: integer
                assistantChatItemId:
                  type: integer
      responses:
        "200":
          description: Highlights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /chat/tripPlanAssistant/history:
    get:
      operationId: getTripPlanAssistantHistory
      summary: Get chat history
      x-function-id: 49817
      x-reference: "GET /api/chat/tripPlanAssistant/history params: chat history query object"
      parameters:
        - name: tripPlanId
          in: query
          schema:
            type: integer
        - name: chatId
          in: query
          schema:
            type: integer
        - name: pageSize
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Chat history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /chat/tripPlanAssistant/initialChatWithItems:
    get:
      operationId: initialChatWithItems
      summary: Start a chat with initial items
      x-function-id: 49835
      x-reference: "GET /api/chat/tripPlanAssistant/initialChatWithItems params: {tripPlanId}"
      parameters:
        - name: tripPlanId
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Chat started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  # ==================== Comments ====================
  /tripPlans/{key}/comments:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: listCommentsForTripPlan
      summary: List comments for a trip plan
      x-function-id: 66408
      x-reference: "GET /api/tripPlans/{key}/comments"
      responses:
        "200":
          description: Trip plan comments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'
    post:
      operationId: postCommentToTripPlan
      summary: Post a comment to a trip plan
      x-function-id: 66411
      x-reference: "POST /api/tripPlans/{key}/comments body: {parentId, text}"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                parentId:
                  type: integer
                  nullable: true
                text:
                  type: string
      responses:
        "200":
          description: Comment posted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /comments/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      operationId: getComments
      summary: Get comments for a resource
      responses:
        "200":
          description: Comments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'
    post:
      operationId: editComment
      summary: Edit a comment
      x-function-id: 66417
      x-reference: "POST /api/comments/{id} body: {text}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
      responses:
        "200":
          description: Comment edited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    delete:
      operationId: deleteComment
      summary: Delete a comment
      x-function-id: 66420
      x-reference: "DELETE /api/comments/{id}"
      responses:
        "200":
          description: Comment deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /comments/{id}/vote/{direction}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: direction
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: voteComment
      summary: Vote on a comment
      x-function-id: 66414
      x-reference: "POST /api/comments/{id}/vote/{direction}"
      responses:
        "200":
          description: Vote recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /comments/{id}/voters:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      operationId: getCommentVoters
      summary: Get comment voters
      x-function-id: 66423
      x-reference: "GET /api/comments/{id}/voters"
      responses:
        "200":
          description: Comment voters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericArrayResponse'

  # ==================== Place Photos ====================
  /placePhotos/search/{placeId}:
    parameters:
      - name: placeId
        in: path
        required: true
        schema:
          type: integer
    get:
      operationId: searchPlacePhotos
      summary: Search for photos of a place
      responses:
        "200":
          description: Place photos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /placePhotos/add/{placeId}:
    parameters:
      - name: placeId
        in: path
        required: true
        schema:
          type: integer
    post:
      operationId: addPlacePhoto
      summary: Add a photo to a place
      responses:
        "200":
          description: Photo added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /placePhotos/recordSelect/{placeId}:
    parameters:
      - name: placeId
        in: path
        required: true
        schema:
          type: integer
    post:
      operationId: recordPhotoSelect
      summary: Record that a photo was selected
      responses:
        "200":
          description: Selection recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ==================== Directions ====================
  /directions/allDistanceInfoForPlace/v2:
    get:
      operationId: getAllDistanceInfoForPlace
      summary: Get distance info for a place v2
      x-function-id: 26408
      x-reference: "GET /api/directions/allDistanceInfoForPlace/v2 params: {data: JSON.stringify(placesWithLongitudeLatitude)}"
      parameters:
        - name: data
          in: query
          required: true
          schema:
            type: string
          description: JSON stringified place data with longitude/latitude.
      responses:
        "200":
          description: Distance info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /directions/distancesForMode:
    post:
      operationId: getDistancesForMode
      summary: Get distances for a specific travel mode
      x-function-id: 26405
      x-reference: "POST /api/directions/distancesForMode body: {placeRuns, travelMode}"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistancesForModeRequest'
      responses:
        "200":
          description: Distances
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectResponse'

  /directions/optimizeRoute:
    post:
      operationId: optimizeRoute
      summary: Optimize a route between stops
      x-function-id: 26411
      x-reference: "POST /api/directions/optimizeRoute body: {places, travelMode, useAutosuggest, sourceId, destinationId}"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptimizeRouteRequest'
      responses:
        "200":
[...]
