openapi: "3.0.3"
info:
  title: Wanderlog API
  description: |
    Reverse-engineered API specification for the Wanderlog travel planning platform.

    This specification was generated by decompiling the Hermes bytecode bundle
    from Wanderlog's Android app (hermes v96, 67k functions, 218k strings).
    All endpoints were extracted from `wrappedAxios()` calls in the decompiled
    React Native (Metro) modules.

    Base URL: https://wanderlog.com/api
    Client version: 2 (sent as `clientSchemaVersion` in many requests)
    Default timeout: 15,000ms (wrappedAxios default)
  version: "1.0.0"
  x-generated-by: hermes-decomp (Rust) / Hermes bytecode v96 decompilation
  x-bundle-info:
    functions: 67030
    strings: 218797
    modules: 7274

servers:
  - url: https://wanderlog.com/api
    description: Production API

components:
  securitySchemes:
    SessionCookie:
      type: apiKey
      in: cookie
      name: connect.sid
      description: Express session cookie, obtained from POST /api/user/login
    XSRFToken:
      type: apiKey
      in: header
      name: x-xsrf-token
      description: XSRF token returned in login response, required for all mutating requests

  security:
    - SessionCookie: []
      XSRFToken: []

  parameters:
    TripKey:
      name: key
      in: path
      required: true
      schema:
        type: string
      description: Trip plan key (e.g., "yxjmjivtfxlkaqcp")
    SectionId:
      name: sectionId
      in: path
      required: true
      schema:
        type: integer
      description: Itinerary section/day ID
    PlaceId:
      name: placeId
      in: path
      required: true
      schema:
        type: integer
      description: Place entry ID within a trip
    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: integer
      description: User ID
    GeoId:
      name: geoId
      in: path
      schema:
        type: integer
      description: Wanderlog geo/destination ID
    ClientSchemaVersion:
      name: clientSchemaVersion
      in: query
      schema:
        type: integer
        default: 2
      description: Client schema version for data compatibility

  schemas:
    # ==================== Trip Plan ====================
    TripPlanCreate:
      type: object
      properties:
        startDate:
          type: string
          format: date
          description: Trip start date (YYYY-MM-DD)
          example: "2026-05-10"
        endDate:
          type: string
          format: date
          example: "2026-05-20"
        title:
          type: string
          example: "Japan Adventure"
        privacy:
          type: string
          enum: [public, private, unlisted]
          default: private
        geoId:
          type: integer
          description: Destination geo ID
      required: [startDate, endDate, title]

    TripPlanResponse:
      type: object
      properties:
        success:
          type: boolean
        tripPlan:
          $ref: '#/components/schemas/TripPlan'
      x-decompiled-from: function f37561

    TripPlan:
      type: object
      properties:
        id:
          type: integer
        key:
          type: string
        editKey:
          type: string
        title:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        privacy:
          type: string
          enum: [public, private, unlisted, friends]
        collaboratorIds:
          type: array
          items:
            type: integer
        metadata:
          type: object
          properties:
            coverPhoto:
              type: string
            destinationNames:
              type: array
              items:
                type: string
            dayCount:
              type: integer

    ApplyOpsRequest:
      type: object
      properties:
        ops:
          type: array
          items:
            type: object
            description: ShareDB JSON0 operation
            properties:
              p:
                type: array
                items: {}
                description: Path array
              oi:
                $ref: '#/components/schemas/OperationValue'
              od:
                $ref: '#/components/schemas/OperationValue'
              li:
                $ref: '#/components/schemas/OperationValue'
              ld:
                $ref: '#/components/schemas/OperationValue'
      required: [ops]

    OperationValue: {}

    # ==================== Places ====================
    AddPlaceRequest:
      type: object
      properties:
        place:
          type: object
          properties:
            place_id:
              type: string
              description: Google Place ID
            name:
              type: string
            geometry:
              type: object
              properties:
                location:
                  type: object
                  properties:
                    lat:
                      type: number
                      format: double
                    lng:
                      type: number
                      format: double
        text:
          type: string
          description: Optional notes for the place

    PlaceObject:
      type: object
      properties:
        id:
          type: integer
        placeId:
          type: string
          description: Google Place ID
        name:
          type: string
        address:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        rating:
          type: number
          format: float
        priceLevel:
          type: integer
        types:
          type: array
          items:
            type: string
        photoUrl:
          type: string
        url:
          type: string
        notes:
          type: string
        sectionId:
          type: integer

    # ==================== Flights ====================
    FlightStopsRequest:
      type: object
      properties:
        airlineIata:
          type: string
          example: "NH"
        flightNumber:
          type: string
          example: "7"
        departDate:
          type: string
          format: date
          example: "2026-05-10"

    FlightStopsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            departureAirport:
              type: object
              properties:
                code:
                  type: string
                name:
                  type: string
            arrivalAirport:
              type: object
              properties:
                code:
                  type: string
                name:
                  type: string
            departureTime:
              type: string
            arrivalTime:
              type: string
            duration:
              type: integer
            stops:
              type: integer
            segments:
              type: array
              items:
                type: object

    # ==================== Lodging ====================
    LodgingSearchRequest:
      type: object
      properties:
        bounds:
          type: object
          properties:
            swLat:
              type: number
            swLng:
              type: number
            neLat:
              type: number
            neLng:
              type: number
        dates:
          type: object
          properties:
            startDate:
              type: string
              format: date
            endDate:
              type: string
              format: date
          required: [startDate, endDate]
        guests:
          type: integer
          default: 2
        destination:
          type: string
          description: City or area name
        source:
          type: string
          enum: [google, kayak]

    # ==================== User ====================
    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
      required: [email, password]

    LoginResponse:
      type: object
      properties:
        success:
          type: boolean
        user:
          type: object
          properties:
            id:
              type: integer
            email:
              type: string
            name:
              type: string
            username:
              type: string

    SetLikeRequest:
      type: object
      properties:
        liked:
          type: boolean

    SendInvitesRequest:
      type: object
      properties:
        invitees:
          type: array
          items:
            type: string
            format: email
        message:
          type: string

    ShareKeyRequest:
      type: object
      properties:
        permissions:
          type: object
          properties:
            canEdit:
              type: boolean
            canView:
              type: boolean

    CollaboratorAction:
      type: object
      properties:
        userId:
          type: integer

    # ==================== Geo ====================
    GeoSearchParams:
      type: object
      properties:
        query:
          type: string
        language:
          type: string
          default: en
        limit:
          type: integer
          default: 10

    # ==================== Common ====================
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        messages:
          type: array
          items:
            type: string
        errTypes:
          type: array
          items:
            type: string

paths:
  # ==================== Trip Plans ====================
  /tripPlans:
    get:
      operationId: listUserTripPlans
      summary: List all trip plans for the authenticated user
      x-function-id: 37593
      x-decompiled: "GET /api/tripPlans"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: List of user's trip plans
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  tripPlans:
                    type: array
                    items:
                      $ref: '#/components/schemas/TripPlan'
    post:
      operationId: createTripPlan
      summary: Create a new trip plan
      x-function-id: 37561
      x-decompiled: "POST /api/tripPlans with body: { ...args, language }"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/TripPlanCreate'
                - type: object
                  properties:
                    language:
                      type: string
                      default: en
      responses:
        "200":
          description: Created trip plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripPlanResponse'

  /tripPlans/{key}:
    get:
      operationId: getTripPlan
      summary: Get a single trip plan by key
      x-function-id: 37574
      x-decompiled: "GET /api/tripPlans/{key} params: {clientSchemaVersion, registerView}"
      parameters:
        - $ref: '#/components/schemas/ClientSchemaVersion'
        - name: registerView
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Trip plan with full itinerary
    delete:
      operationId: deleteTripPlan
      summary: Delete a trip plan
      x-function-id: 37587
      x-decompiled: "DELETE /api/tripPlans/{key}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Trip deleted

  /tripPlans/copy/{key}:
    post:
      operationId: copyTripPlan
      summary: Copy a trip plan
      x-function-id: 37571
      x-decompiled: "POST /api/tripPlans/copy/{key}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Copy of the trip plan

  /tripPlans/{key}/restore:
    post:
      operationId: restoreTripPlan
      summary: Restore a soft-deleted trip plan
      x-function-id: 37590
      x-decompiled: "POST /api/tripPlans/{key}/restore"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Trip restored

  /tripPlans/{key}/sections:
    get:
      operationId: getTripPlanSections
      summary: Get all itinerary sections/days for a trip
      x-function-id: 37659
      x-decompiled: "GET /api/tripPlans/{key}/sections params: {datePreference}"
      parameters:
        - name: datePreference
          in: query
          schema:
            type: string
            enum: [day, month]
      responses:
        "200":
          description: Array of itinerary sections

  /tripPlans/{key}/places:
    get:
      operationId: getTripPlanPlaces
      summary: Get all places for a trip plan
      x-function-id: 37583
      x-decompiled: "GET /api/tripPlans/{key}/places"
      responses:
        "200":
          description: Array of places

  /tripPlans/{key}/sections/{sectionId}/places:
    parameters:
      - $ref: '#/components/schemas/TripKey'
      - $ref: '#/components/schemas/SectionId'
    post:
      operationId: addPlacesToTripPlan
      summary: Add a place to a specific itinerary section
      x-function-id: 37663
      x-decompiled: "POST /api/tripPlans/{key}/sections/{sectionId}/places"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPlaceRequest'
      responses:
        "200":
          description: Place added

  /tripPlans/{key}/sections/{sectionId}/places/{placeId}:
    parameters:
      - $ref: '#/components/schemas/TripKey'
      - $ref: '#/components/schemas/SectionId'
      - $ref: '#/components/schemas/PlaceId'
    delete:
      operationId: removePlacesFromTripPlan
      summary: Remove a place from an itinerary section
      x-function-id: 37666
      x-decompiled: "DELETE /api/tripPlans/{key}/sections/{sectionId}/places/{placeId}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Place removed

  /tripPlans/{key}/applyOps:
    post:
      operationId: applyOpsToTripPlan
      summary: Apply ShareDB operational transforms for complex edits
      x-function-id: 37675
      x-decompiled: "POST /api/tripPlans/{key}/applyOps body: {ops: array}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyOpsRequest'
      responses:
        "200":
          description: Operations applied

  /tripPlans/{key}/images:
    get:
      operationId: getTripPlanImages
      summary: Get images for a trip plan
      x-function-id: 37580
      x-decompiled: "GET /api/tripPlans/{key}/images"
      responses:
        "200":
          description: Array of image objects

  /tripPlans/{key}/image:
    post:
      operationId: uploadTripPlanImage
      summary: Upload an image to a trip plan
      x-function-id: 37577
      x-decompiled: "POST /api/tripPlans/{key}/image multipart upload, Content-Type: file.type, timeout: 120s"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Image uploaded

  /tripPlans/{key}/export/v2:
    post:
      operationId: exportTripPlan
      summary: Export a trip plan (e.g., to Google Maps)
      x-function-id: 37639
      x-decompiled: "POST /api/tripPlans/{key}/export/v2 timeout: 300s"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Export initiated

  /tripPlans/{key}/createGuideFromTripPlan:
    post:
      operationId: createGuideFromTripPlan
      summary: Promote a trip plan into a published guide
      x-function-id: 37678
      x-decompiled: "POST /api/tripPlans/{key}/createGuideFromTripPlan"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Guide created

  /tripPlans/{key}/updateTripPlanGeo/{geoId}:
    post:
      operationId: updateTripPlanGeo
      summary: Update the destination geo for a trip plan
      x-function-id: 37681
      x-decompiled: "POST /api/tripPlans/{key}/updateTripPlanGeo/{geoId}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Geo updated

  /tripPlans/{key}/updateRequired:
    get:
      operationId: checkIfUpdateRequired
      summary: Check if a trip plan requires a schema update
      x-function-id: 37684
      x-decompiled: "GET /api/tripPlans/{key}/updateRequired params: {clientSchemaVersion}"
      parameters:
        - $ref: '#/components/schemas/ClientSchemaVersion'
      responses:
        "200":
          description: Update status

  /tripPlans/{key}/registerView:
    post:
      operationId: registerTripPlanView
      summary: Register a view of a shared trip
      x-function-id: 37696
      x-decompiled: "POST /api/tripPlans/{key}/registerView"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: View registered

  /tripPlans/{key}/distinction:
    get:
      operationId: getTripPlanDistinction
      summary: Get a trip's distinction/badge
      x-function-id: 37690
      x-decompiled: "GET /api/tripPlans/{key}/distinction"
      responses:
        "200":
          description: Distinction data
    post:
      operationId: setTripPlanDistinction
      summary: Set a trip's distinction/badge
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Distinction set

  /tripPlans/{key}/like:
    post:
      operationId: setLike
      summary: Like or unlike a trip plan
      x-function-id: 37656
      x-decompiled: "POST /api/tripPlans/{key}/like body: {liked: bool}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetLikeRequest'
      responses:
        "200":
          description: Like status updated

  /tripPlans/{key}/likeCount:
    get:
      operationId: getLikeCount
      summary: Get the like count for a trip plan
      x-function-id: 37650
      x-decompiled: "GET /api/tripPlans/{key}/likeCount"
      responses:
        "200":
          description: Like count and user's like status

  /tripPlans/{key}/invite:
    post:
      operationId: sendTripPlanInvites
      summary: Send invites to collaborate on a trip
      x-function-id: 37643
      x-decompiled: "POST /api/tripPlans/{key}/invite body: {invitees: string[], message?: string}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendInvitesRequest'
      responses:
        "200":
          description: Invites sent

  /tripPlans/{key}/invites:
    get:
      operationId: listTripPlanInvites
      summary: List all invites sent for a trip
      x-function-id: 37647
      x-decompiled: "GET /api/tripPlans/{key}/invites"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Array of invites

  /tripPlans/{editKey}/shareKey:
    post:
      operationId: getOrCreateTripPlanKey
      summary: Get or create a share key for a trip
      x-function-id: 37712
      x-decompiled: "POST /api/tripPlans/{editKey}/shareKey body: {permissions: {canEdit, canView}}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      parameters:
        - name: editKey
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareKeyRequest'
      responses:
        "200":
          description: Share key

  /tripPlans/{key}/collaborator:
    post:
      operationId: addCollaborator
      summary: Add a collaborator to a trip
      x-function-id: 37708
      x-decompiled: "POST /api/tripPlans/{key}/collaborator"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorAction'
      responses:
        "200":
          description: Collaborator added
    delete:
      operationId: removeCollaborator
      summary: Remove a collaborator from a trip
      x-function-id: 37706
      x-decompiled: "DELETE /api/tripPlans/{key}/collaborator body: {userId}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorAction'
      responses:
        "200":
          description: Collaborator removed

  /tripPlans/{key}/flights:
    get:
      operationId: getTripFlights
      summary: Get flights attached to a trip plan
      responses:
        "200":
          description: Array of flights

  /tripPlans/{key}/expensesAsCSV:
    get:
      operationId: getTripExpensesCSV
      summary: Get trip expenses as a CSV file
      x-function-id: 37720
      x-decompiled: "getURLForExportExpensesAsCSV (returns URL string)"
      responses:
        "200":
          description: CSV file URL

  # ==================== Feed & Discovery ====================
  /tripPlans/home:
    get:
      operationId: listHomeFeedTripPlans
      summary: Get the user's home feed
      x-function-id: 37621
      x-decompiled: "GET /api/tripPlans/home"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Home feed data

  /tripPlans/feed:
    get:
      operationId: getFeedV1
      summary: Get legacy trip feed
      x-function-id: 37597
      x-decompiled: "GET /api/tripPlans/feed"
      responses:
        "200":
          description: Feed data

  /tripPlans/feed/v2:
    get:
      operationId: getFeedV2
      summary: Get trip feed v2
      x-function-id: 37600
      x-decompiled: "GET /api/tripPlans/feed/v2"
      responses:
        "200":
          description: Feed v2 data

  /tripPlans/feed/mostRecentlyEdited:
    get:
      operationId: getFeedMostRecent
      summary: Get the most recently edited trip
      x-function-id: 37603
      x-decompiled: "GET /api/tripPlans/feed/mostRecentlyEdited"
      responses:
        "200":
          description: Most recent trip data

  /tripPlans/history:
    get:
      operationId: listTripPlansHistory
      summary: Get paginated trip edit history
      x-function-id: 37624
      x-decompiled: "GET /api/tripPlans/history with optional ?offset=N pagination"
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: History data

  /tripPlans/friendsPlans:
    get:
      operationId: listFriendsTripPlans
      summary: Get trip plans from friends
      x-function-id: 37627
      x-decompiled: "GET /api/tripPlans/friendsPlans"
      responses:
        "200":
          description: Friends' plans

  /tripPlans/browse/guides:
    get:
      operationId: listBrowsePageGoodGuides
      summary: Browse all curated guides
      x-function-id: 37699
      x-decompiled: "GET /api/tripPlans/browse/guides"
      responses:
        "200":
          description: List of guides

  /tripPlans/browse/guides/{geoId}:
    get:
      operationId: listGeoPageGoodGuides
      summary: Browse guides for a specific destination
      x-function-id: 37702
      x-decompiled: "GET /api/tripPlans/browse/guides/{geoId}"
      responses:
        "200":
          description: List of guides for destination

  /tripPlans/landingPage/guides:
    get:
      operationId: listLandingPageGuides
      summary: Get guides for the landing page
      x-function-id: 37630
      x-decompiled: "GET /api/tripPlans/landingPage/guides"
      responses:
        "200":
          description: Landing page guides

  /tripPlans/landingPage/stories:
    get:
      operationId: listLandingPageStories
      summary: Get stories for the landing page
      x-function-id: 37633
      x-decompiled: "GET /api/tripPlans/landingPage/stories"
      responses:
        "200":
          description: Landing page stories

  /tripPlans/getIfEdited:
    post:
      operationId: getTripPlansIfEdited
      summary: Check and return trips that have been edited
      x-function-id: 37687
      x-decompiled: "POST /api/tripPlans/getIfEdited body: {tripPlans: [...], platform, clientSchemaVersion}"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tripPlans:
                  type: array
                  items:
                    type: object
                platform:
                  type: string
                clientSchemaVersion:
                  type: integer
      responses:
        "200":
          description: Edited trips

  /tripPlans/createExampleTripPlan:
    post:
      operationId: createExampleTripPlan
      summary: Create an example/reference trip plan
      x-function-id: 37564
      x-decompiled: "POST /api/tripPlans/createExampleTripPlan"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Example trip created

  /tripPlans/autofillDay:
    post:
      operationId: autofillDay
      summary: Autofill a day's itinerary with suggestions
      x-function-id: 37713
      x-decompiled: "POST /api/tripPlans/autofillDay"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Day autofilled

  /tripPlans/checklistSection:
    post:
      operationId: addChecklistItems
      summary: Add packing list/checklist items to a section
      x-function-id: 37559 (chain)
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Checklist items added

  /tripPlans/journalStopPolylines:
    post:
      operationId: fetchJournalStopPolylines
      summary: Fetch polyline data for journal stops
      responses:
        "200":
          description: Polyline data

  /tripPlans/viewOnlyJournal/{journalKey}:
    get:
      operationId: getViewOnlyJournal
      summary: Fetch a published view-only journal
      x-function-id: 37723
      x-decompiled: "GET /api/tripPlans/viewOnlyJournal/{journalKey}"
      responses:
        "200":
          description: Journal data

  /tripPlans/viewOnlyJournal/mobile/{journalKey}:
    get:
      operationId: getViewOnlyJournalMobile
      summary: Fetch a mobile-optimized view-only journal
      x-function-id: 37726
      x-decompiled: "GET /api/tripPlans/viewOnlyJournal/mobile/{journalKey}"
      responses:
        "200":
          description: Mobile journal data

  /tripPlans/myProfile/:
    get:
      operationId: getMyProfileData
      summary: Get the authenticated user's profile and trips
      x-function-id: 37618
      x-decompiled: "GET /api/tripPlans/myProfile/"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: User profile with trip list

  /tripPlans/profile/{userId}:
    get:
      operationId: getProfileDataByUserId
      summary: Get a user's public profile and trips
      x-function-id: 37610
      x-decompiled: "GET /api/tripPlans/profile/{userId}"
      responses:
        "200":
          description: Public profile and trips

  /tripPlans/profile/byUsername/{username}:
    get:
      operationId: getProfileByUsername
      summary: Get a user's public profile by @username
      x-function-id: 37606
      x-decompiled: "GET /api/tripPlans/profile/byUsername/{username}"
      responses:
        "200":
          description: Public profile and trips

  /tripPlans/profile/sampleMapsByUsernames/{usernames}:
    get:
      operationId: getFriendProfileMaps
      summary: Get sample maps for comma-separated usernames
      x-function-id: 37614
      x-decompiled: "GET /api/tripPlans/profile/sampleMapsByUsernames/{join(usernames,',')}"
      responses:
        "200":
          description: Sample map data

  # ==================== Flights ====================
  /flights/allAirlines:
    get:
      operationId: getAllAirlinesInternal
      summary: Get all airlines
      x-function-id: 29982
      x-decompiled: "GET /api/flights/allAirlines"
      responses:
        "200":
          description: Array of airlines

  /flights/autocompleteAirport/{query}:
    get:
      operationId: autocompleteAirport
      summary: Autocomplete airport search
      x-function-id: 29985
      x-decompiled: "GET /api/flights/autocompleteAirport/{encodeURIComponent(query)}"
      parameters:
        - name: query
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Autocomplete results

  /flights/autocompleteAirportWithLocation/{query}:
    get:
      operationId: autocompleteAirportWithLocation
      summary: Autocomplete airport with location context
      x-function-id: 29988
      x-decompiled: "GET /api/flights/autocompleteAirportWithLocation/{encodeURIComponent(query)}"
      responses:
        "200":
          description: Autocomplete results with location

  /flights/flightStops:
    get:
      operationId: getFlightStops
      summary: Get flight stops for a specific flight
      x-function-id: 29991
      x-decompiled: "GET /api/flights/flightStops params: {airlineIata, flightNumber, departDate}"
      parameters:
        - name: airlineIata
          in: query
          required: true
          schema:
            type: string
          example: "NH"
        - name: flightNumber
          in: query
          required: true
          schema:
            type: string
          example: "7"
        - name: departDate
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Flight stop data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightStopsResponse'

  /tripPlans/flights:
    post:
      operationId: createTripPlanFromFlights
      summary: Create a trip plan from a flight booking
      x-function-id: 37568
      x-decompiled: "POST /api/tripPlans/flights body: arg0"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Trip plan created from flights

  # ==================== Places API ====================
  /placesAPI/getPlaceDetailsAndCardData:
    get:
      operationId: getPlaceDetailsAndCardData
      summary: Get detailed place info with card data
      x-function-id: 37820
      x-decompiled: "GET /api/placesAPI/getPlaceDetailsAndCardData params: {placeId, language}"
      parameters:
        - name: placeId
          in: query
          required: true
          schema:
            type: string
          description: Google Place ID
        - name: language
          in: query
          schema:
            type: string
            default: en
      responses:
        "200":
          description: Place details and card data

  /placesAPI/getPlaceDetails/v2:
    get:
      operationId: getPlaceDetailsV2
      summary: Get place details v2
      responses:
        "200":
          description: Place details

  /placesAPI/getMultiplePlaceDetails:
    get:
      operationId: getMultiplePlaceDetails
      summary: Get details for multiple places
      responses:
        "200":
          description: Multiple place details

  /placesAPI/autocomplete:
    get:
      operationId: autocompletePlaces
      summary: Autocomplete places (Google Places API wrapper)
      x-function-id: 37823
      x-decompiled: "GET /api/placesAPI/autocomplete params: {request: JSON.stringify({input, sessiontoken, location, radius, language})}"
      parameters:
        - name: request
          in: query
          required: true
          schema:
            type: string
          description: JSON stringified Google Places autocomplete request
      responses:
        "200":
          description: Autocomplete results

  /placesAPI/autocomplete/v2:
    get:
      operationId: autocompletePlacesAndSuggestions
      summary: Autocomplete places v2 with suggestions
      responses:
        "200":
          description: Autocomplete v2 results

  /placesAPI/searchPlaces:
    get:
      operationId: searchPlaces
      summary: Search places (Google Places Text Search wrapper)
      x-function-id: 37829
      x-decompiled: "GET /api/placesAPI/searchPlaces params: {request: JSON.stringify(query)}"
      parameters:
        - name: request
          in: query
          required: true
          schema:
            type: string
          description: JSON stringified search request
      responses:
        "200":
          description: Search results

  /placesAPI/findPlaceFromLngLat:
    get:
      operationId: findPlaceFromLngLat
      summary: Find place from lat/lng coordinates
      x-function-id: 37832
      x-decompiled: "GET /api/placesAPI/findPlaceFromLngLat params: {request: JSON.stringify(data)}"
      responses:
        "200":
          description: Place found at location

  /placesAPI/mapLayerGroups:
    get:
      operationId: getMapLayerGroupPlaces
      summary: Get map layer groups for places
      x-function-id: 37835
      responses:
        "200":
          description: Map layer groups

  /places/card:
    get:
      operationId: getPlaceCardData
      summary: Get place card data (unused/legacy)
      responses:
        "200":
          description: Place card data

  /places/metadata:
    get:
      operationId: getGooglePlaceMetadata
      summary: Get Google Place metadata
      responses:
        "200":
          description: Place metadata

  /places/placePageGeos:
    get:
      operationId: getPlacePageGeos
      summary: Get geos for the place page
      x-function-id: 45379
      responses:
        "200":
          description: Place page geos

  # ==================== Places List ====================
  /placesList:
    post:
      operationId: getPlacesList
      summary: Get a places list
      responses:
        "200":
          description: Places list

  /placesList/attractionsList/{geoId}:
    get:
      operationId: getAttractionsTopPlacesList
      summary: Get top attractions for a geo
      responses:
        "200":
          description: Attractions list

  /placesList/betweenGeos/byGeoIds/{geoIds}:
    get:
      operationId: getBetweenGeosPlacesList
      summary: Get places list between two geos
      responses:
        "200":
          description: Places between geos

  /placesList/snapshot/{snapshotId}:
    get:
      operationId: getClientPlacesListDataFromSnapshot
      summary: Get places list data from a snapshot
      responses:
        "200":
          description: Places list snapshot

  # ==================== Geo ====================
  /geo/autocomplete/{query}:
    get:
      summary: Autocomplete geo/destination search
      operationId: autocompleteGeo
      x-function-id: 39930
      x-decompiled: "GET /api/geo/autocomplete/{encodeURIComponent(query)} params: arg1"
      parameters:
        - name: query
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Geo autocomplete results

  /geo/autocompleteGeoAndUser/{query}:
    get:
      summary: Autocomplete geo and user
      operationId: autocompleteGeoAndUser
      x-function-id: 39934
      x-decompiled: "GET /api/geo/autocompleteGeoAndUser/{encodeURIComponent(query)}"
      responses:
        "200":
          description: Combined geo and user results

  /geo/search:
    get:
      summary: Search geos
      operationId: searchPlace
      x-function-id: 39943
      x-decompiled: "GET /api/geo/search params: arg0"
      parameters:
        - name: query
          in: query
          schema:
            type: string
        - name: language
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Geo search results

  /geo/place/{id}:
    get:
      summary: Get a specific geo/place
      operationId: getPlace
      x-function-id: 39946
      x-decompiled: "GET /api/geo/place/{id}"
      responses:
        "200":
          description: Geo place data

  /geo/tripPlannerGeos:
    get:
      summary: Get geos for the trip planner page
      operationId: getTripPlannerPageGeos
      x-function-id: 39952
      x-decompiled: "GET /api/geo/tripPlannerGeos"
      responses:
        "200":
          description: Trip planner geos

  /geo/listKeywordCategories:
    get:
      summary: List keyword categories
      operationId: listKeywordCategories
      x-function-id: 39955
      x-decompiled: "GET /api/geo/listKeywordCategories params: {language}"
      parameters:
        - name: language
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Keyword categories

  /geo/listGeosWithSearchedCategories:
    get:
      summary: List geos with searched categories
      operationId: listGeosWithSearchedCategories
      x-function-id: 39958
      responses:
        "200":
          description: Geos with categories

  /geo/listGeoCategoriesForCategory:
    get:
      summary: List geo categories for a category
      operationId: listGeoCategoriesForCategory
      x-function-id: 39961
      responses:
        "200":
          description: Geo categories

  /geo/listGeoCategoriesForGeo:
    get:
      summary: List geo categories for a geo
      operationId: listGeoCategoriesForGeo
      x-function-id: 39964
      responses:
        "200":
          description: Geo categories for geo

  /geo/nearestKayakCity:
    get:
      summary: Find nearest Kayak city to coordinates
      operationId: findNearestKayakCity
      x-function-id: 39979
      x-decompiled: "GET /api/geo/nearestKayakCity params: {longitude, latitude, cityNameToMatch}"
      parameters:
        - name: latitude
          in: query
          schema:
            type: number
        - name: longitude
          in: query
          schema:
            type: number
        - name: cityNameToMatch
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Nearest Kayak city

  /geo/countries:
    get:
      summary: List countries
      operationId: listCountries
      x-function-id: 39992
      x-decompiled: "GET /api/geo/countries params: {language}"
      responses:
        "200":
          description: List of countries

  /geo/popularAndNearby:
    get:
      summary: Get popular and nearby destinations
      operationId: getPopularAndNearbyGeos
      x-function-id: 40004
      x-decompiled: "GET /api/geo/popularAndNearby"
      responses:
        "200":
          description: Popular and nearby destinations

  /geo/clientGeos:
    get:
      summary: Get client geos by IDs
      operationId: getClientGeos
      responses:
        "200":
          description: Client geos

  /geo/findCountryForIP:
    get:
      summary: Find country by IP
      operationId: findCountryForIP
      x-function-id: 39943
      responses:
        "200":
          description: Country data

  /geo/findNearestGeosToIP:
    get:
      summary: Find nearest geos to client IP
      responses:
        "200":
          description: Nearest geos

  /geo/geosWithGoodGuides:
    get:
      summary: Get geos that have good guides
      responses:
        "200":
          description: Geos with guides

  /geo/geoInMonthGeos:
    get:
      summary: Get geos for a specific month
      responses:
        "200":
          description: Month geos

  /geo/extraExplorePagePlace/{id}:
    get:
      summary: Get extra explore page place data
      responses:
        "200":
          description: Extra place data

  # ==================== Lodging ====================
  /lodging/searchLodgings:
    post:
      operationId: searchLodgings
      summary: Search for hotels/lodging
      x-function-id: 51399
      x-decompiled: "POST /api/lodging/searchLodgings body: arg0, timeout: 20s"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LodgingSearchRequest'
      responses:
        "200":
          description: Lodging search results with offers
      x-note: "Requires GOOGLE_PLACES_API_KEY environment variable on server side"

  /lodging/property/{lodgingPropertyId}:
    get:
      operationId: getLodgingDetails
      summary: Get details for a specific lodging property
      x-function-id: 51406
      x-decompiled: "GET /api/lodging/property/{id} params: {maybeRefreshData}"
      parameters:
        - name: maybeRefreshData
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Lodging property details

  /lodging/property/{lodgingPropertyId}/offers:
    get:
      operationId: getLodgingRoomOffers
      summary: Get room offers for a lodging property
      x-function-id: 51409
      x-decompiled: "GET /api/lodging/property/{id}/offers params: {dates, guests, sources}"
      parameters:
        - name: dates
          in: query
          required: true
          schema:
            type: string
          description: JSON stringified dates object
        - name: guests
          in: query
          required: true
          schema:
            type: string
          description: JSON stringified guests data
        - name: sources
          in: query
          schema:
            type: string
          description: Comma-separated source list
      responses:
        "200":
          description: Room offers

  /lodging/property/kayak/{id}:
    post:
      operationId: findOrCreateLodgingPropertyFromKayak
      summary: Find or create a Kayak lodging property
      x-function-id: 51402
      x-decompiled: "POST /api/lodging/property/kayak/{id}"
      responses:
        "200":
          description: Property found/created

  /lodging/checkoutData:
    get:
      operationId: getLodgingCheckoutData
      summary: Get checkout data for a lodging booking
      x-function-id: 51415
      x-decompiled: "GET /api/lodging/checkoutData params: arg0"
      responses:
        "200":
          description: Checkout data

  /lodging/getGooglePriceRates:
    get:
      operationId: getGooglePriceRates
      summary: Get Google price rates for lodging
      x-function-id: 51439
      x-decompiled: "GET /api/lodging/getGooglePriceRates params: {id, dates, guests, currencyCode}"
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: JSON stringified property ID
        - name: dates
          in: query
          required: true
          schema:
            type: string
          description: JSON stringified dates
        - name: guests
          in: query
          required: true
          schema:
            type: string
          description: JSON stringified guests data
        - name: currencyCode
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Price rates

  /lodging:
    get:
      operationId: listLodgingItineraries
      summary: List lodging itineraries
      x-function-id: 51412
      x-decompiled: "GET /api/lodging"
      responses:
        "200":
          description: Lodging itineraries

  /lodging/cancel/{itineraryId}:
    delete:
      operationId: cancelLodgingItinerary
      summary: Cancel a lodging itinerary
      x-function-id: 51422
      x-decompiled: "DELETE /api/lodging/cancel/{id} params: {expediaRoomConfirmationNumber}"
      responses:
        "200":
          description: Itinerary cancelled

  /lodging/registerPaymentAndBook:
    post:
      operationId: registerPaymentAndBookLodging
      summary: Register payment and book lodging
      x-function-id: 51396 (closure)
      responses:
        "200":
          description: Booking confirmed

  /lodging/finishLodgingBooking:
    post:
      operationId: finishLodgingBooking
      summary: Finish lodging booking process
      responses:
        "200":
          description: Booking finished

  /lodging/generatePciBookingAccessToken:
    post:
      operationId: generatePciBookingAccessToken
      summary: Generate PCI booking access token
      responses:
        "200":
          description: Access token

  # ==================== User ====================
  /user/login:
    post:
      operationId: login
      summary: Log in with email and password
      x-function-id: 17238
      x-decompiled: "POST /api/user/login body: {email, password, appleId}"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        "200":
          description: Login success, sets session cookie
          headers:
            Set-Cookie:
              schema:
                type: string
              description: connect.sid session cookie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'

  /user/logout:
    post:
      operationId: logout
      summary: Log out
      x-function-id: 17262
      x-decompiled: "POST /api/user/logout"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Logged out

  /user/register:
    post:
      operationId: register
      summary: Register a new user account
      x-function-id: 17256
      x-decompiled: "POST /api/user/register"
      responses:
        "200":
          description: User registered

  /user:
    get:
      operationId: getLoggedInUser
      summary: Get the authenticated user's profile
      x-function-id: 17259
      x-decompiled: "GET /api/user"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: User profile
    post:
      operationId: updateProfile
      summary: Update user profile
      x-function-id: 17232
      x-decompiled: "POST /api/user body: arg0 (profile data)"
      security:
        - SessionCookie: []
        - XSRFToken: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Profile updated

  /user/profilePicture:
    post:
      operationId: uploadProfilePicture
      summary: Upload a profile picture
      x-function-id: 17235
      x-decompiled: "POST /api/user/profilePicture multipart, Content-Type: file.type"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Profile picture uploaded

  /user/utcOffset:
    post:
      operationId: updateUTCOffset
      summary: Set the user's UTC offset
      x-function-id: 19347
      x-decompiled: "POST /api/user/utcOffset body: {utcOffset}"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                utcOffset:
                  type: integer
                  example: -420
      responses:
        "200":
          description: UTC offset updated

  /user/createPendingUser:
    post:
      operationId: createPendingUser
      summary: Create a pending/skeleton user
      x-function-id: 17253
      responses:
        "200":
          description: Pending user created

  /user/loginToken:
    post:
      operationId: loginWithToken
      summary: Log in with a token
      x-function-id: 17265
      responses:
        "200":
          description: Logged in

  /user/isUsernameTaken/{username}:
    get:
      operationId: isUsernameTaken
      summary: Check if a username is already taken
      x-function-id: 19350
      x-decompiled: "GET /api/user/isUsernameTaken/{encodeURIComponent(username)}"
      responses:
        "200":
          description: Username availability

  /user/keyValue/{key}:
    get:
      operationId: getKeyValue
      summary: Get a key-value store entry
      x-function-id: 19360
      x-decompiled: "GET /api/user/keyValue/{key}"
      responses:
        "200":
          description: Key-value data
    post:
      operationId: setKeyValue
      summary: Set a key-value store entry
      x-function-id: 19357
      x-decompiled: "POST /api/user/keyValue/{key} body: {value}"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  description: Value to store (JSON or plain string)
      responses:
        "200":
          description: Value stored

  /user/notification/settings:
    get:
      operationId: getNotificationSettings
      summary: Get notification settings
      x-function-id: 19375
      x-decompiled: "GET /api/user/notification/settings params: arg0"
      responses:
        "200":
          description: Notification settings
    post:
      operationId: updateNotificationSettings
      summary: Update notification settings
      responses:
        "200":
          description: Settings updated

  /user/notifications:
    get:
      operationId: getNotifications
      summary: Get user notifications
      responses:
        "200":
          description: Notifications

  /user/notifications/markRead:
    post:
      operationId: markNotificationsRead
      summary: Mark notifications as read
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notificationIds:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Notifications marked read

  /user/emails:
    get:
      operationId: getScannedEmails
      summary: Get the user's scanned travel emails
      x-function-id: 19381
      x-decompiled: "GET /api/user/emails with optional before cursor"
      parameters:
        - name: before
          in: query
          schema:
            type: string
          description: Cursor for pagination
      responses:
        "200":
          description: Scanned emails

  /user/autocomplete/{search}:
    get:
      operationId: autocompleteUser
      summary: Autocomplete users by name
      x-function-id: 19434
      x-decompiled: "GET /api/user/autocomplete/{search}"
      responses:
        "200":
          description: Autocomplete results

  /user/byEmail:
    post:
      operationId: getUserInfoByEmail
      summary: Find a user by email
      x-function-id: 19424
      x-decompiled: "POST /api/user/byEmail params: {email}"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: User info

  /user/following/list:
    post:
      operationId: listFollowing
      summary: List users the authenticated user follows
      responses:
        "200":
          description: Following list

  /user/following/visitedGeo/{geoId}:
    get:
      operationId: getFollowersWhoVisitedGeo
      summary: Get followers who visited a specific geo
      responses:
        "200":
          description: Followers who visited

  /user/leaderboard:
    get:
      operationId: leaderboard
      summary: Get user leaderboard
      responses:
        "200":
          description: Leaderboard data

  /user/block:
    post:
      operationId: blockUser
      summary: Block another user
      responses:
        "200":
          description: User blocked

  /user/subscribeBlog:
    post:
      operationId: subscribeBlog
      summary: Subscribe to the Wanderlog blog
      responses:
        "200":
          description: Subscribed

  /user/fcmToken:
    post:
      operationId: saveFCMToken
      summary: Save Firebase Cloud Messaging token
      responses:
        "200":
          description: Token saved

  /user/saveFlightDealSettings:
    post:
      operationId: saveFlightDealSettings
      summary: Save flight deal notification settings
      responses:
        "200":
          description: Settings saved

  # ==================== Config ====================
  /config/globalConfig:
    get:
      operationId: getGlobalConfig
      summary: Get the server's global client configuration
      x-function-id: 13090
      x-decompiled: "GET /api/config/globalConfig method: GET"
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Global configuration object

  # ==================== Session Store ====================
  /sessionStore:
    get:
      operationId: getSessionStore
      summary: Get session store data
      responses:
        "200":
          description: Session store data
    post:
      operationId: setSessionStoreValue
      summary: Set a value in the session store
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Value set

  /sessionStore/preferences/{locale}:
    get:
      operationId: getSessionPreferences
      summary: Get session preferences for a locale
      responses:
        "200":
          description: Session preferences

  # ==================== Analytics ====================
  /analytics/firebaseAppInstanceId:
    post:
      operationId: saveFirebaseAppInstanceId
      summary: Save Firebase App Instance ID
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Saved

  /analytics/googleAnalyticsClientId:
    post:
      operationId: saveGoogleAnalyticsClientId
      summary: Save Google Analytics client ID
      responses:
        "200":
          description: Saved

  /analytics/trackTestEvent:
    post:
      operationId: trackServerTestEvent
      summary: Track a test analytics event
      x-function-id: 13093
      x-decompiled: "POST /api/analytics/trackTestEvent"
      responses:
        "200":
          description: Event tracked

  # ==================== AI Chat ====================
  /chat/tripPlanAssistant/chats:
    post:
      operationId: createTripPlanAssistantChat
      summary: Create a new AI chat session for trip planning
      responses:
        "200":
          description: Chat created

  /chat/tripPlanAssistant/chats/{chatId}:
    post:
      operationId: continueTripPlanAssistantChat
      summary: Continue an existing AI chat session
      responses:
        "200":
          description: Chat continued

  /chat/tripPlanAssistant/getText/v2:
    get:
      operationId: getTripPlanAssistantText
      summary: Get AI-generated text
      responses:
        "200":
          description: Generated text

  /chat/tripPlanAssistant/getHighlights/v2:
    get:
      operationId: getTripPlanAssistantHighlights
      summary: Get AI-generated highlights
      responses:
        "200":
          description: Highlights

  /chat/tripPlanAssistant/history:
    post:
      operationId: getTripPlanAssistantHistory
      summary: Get chat history
      responses:
        "200":
          description: Chat history

  /chat/tripPlanAssistant/initialChatWithItems:
    post:
      operationId: initialChatWithItems
      summary: Start a chat with initial items
      responses:
        "200":
          description: Chat started

  # ==================== Comments ====================
  /comments/{id}:
    get:
      operationId: getComments
      summary: Get comments for a resource
      responses:
        "200":
          description: Comments
    post:
      operationId: addComment
      summary: Add a comment to a resource
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Comment added

  # ==================== Place Photos ====================
  /placePhotos/search/{placeId}:
    get:
      operationId: searchPlacePhotos
      summary: Search for photos of a place
      responses:
        "200":
          description: Place photos

  /placePhotos/add/{placeId}:
    post:
      operationId: addPlacePhoto
      summary: Add a photo to a place
      responses:
        "200":
          description: Photo added

  /placePhotos/recordSelect/{placeId}:
    post:
      operationId: recordPhotoSelect
      summary: Record that a photo was selected
      responses:
        "200":
          description: Selection recorded

  # ==================== Directions ====================
  /directions/allDistanceInfoForPlace/v2:
    post:
      operationId: getAllDistanceInfoForPlace
      summary: Get distance info for a place v2
      responses:
        "200":
          description: Distance info

  /directions/distancesForMode:
    post:
      operationId: getDistancesForMode
      summary: Get distances for a specific travel mode
      responses:
        "200":
          description: Distances

  /directions/optimizeRoute:
    post:
      operationId: optimizeRoute
      summary: Optimize a route between stops
      responses:
        "200":
          description: Optimized route

  # ==================== Misc ====================
  /misc/coronavirus:
    get:
      operationId: getCoronavirusData
      summary: Get coronavirus travel data
      responses:
        "200":
          description: Coronavirus data

  /misc/coronavirusStates:
    get:
      operationId: getCoronavirusStates
      summary: Get coronavirus data by US state
      responses:
        "200":
          description: State data

  /misc/reportVulnerability:
    post:
      operationId: reportVulnerability
      summary: Report a security vulnerability
      responses:
        "200":
          description: Reported

  /misc/showSurvey/{surveyId}:
    get:
      operationId: showSurvey
      summary: Get survey data
      responses:
        "200":
          description: Survey data

  /misc/updateCookies:
    post:
      operationId: updateCookies
      summary: Update cookie consent
      responses:
        "200":
          description: Cookies updated

  # ==================== Payment ====================
  /payments/subscriptionsInfo:
    get:
      operationId: getSubscriptionInfo
      summary: Get subscription information
      security:
        - SessionCookie: []
        - XSRFToken: []
      responses:
        "200":
          description: Subscription info

  /payments/discountInfo/v2:
    get:
      operationId: getDiscountInfoV2
      summary: Get discount information v2
      responses:
        "200":
          description: Discount info

  /payments/startStripeTrial:
    post:
      operationId: startStripeTrial
      summary: Start a Stripe trial subscription
      responses:
        "200":
          description: Trial started

  /payments/newStripeSubscriptionInfo:
    get:
      operationId: getNewStripeSubscriptionInfo
      summary: Get new Stripe subscription info
      responses:
        "200":
          description: Subscription info

  /payments/latestSubscriptionPrice:
    get:
      operationId: getLatestSubscriptionPrice
      summary: Get the latest subscription price
      responses:
        "200":
          description: Price

  # ==================== Mobile ====================
  /mobileOnly/versionStatus:
    get:
      operationId: getVersionStatus
      summary: Check mobile app version status
      responses:
        "200":
          description: Version status

  # ==================== V2 ====================
  /v2/push/updateDeviceToken:
    post:
      operationId: updateDeviceToken
      summary: Update push notification device token
      responses:
        "200":
          description: Token updated

  # ==================== Share Map ====================
  /shareMap/{key}:
    get:
      operationId: getShareMap
      summary: Get a shared map
      responses:
        "200":
          description: Shared map data

  # ==================== Wikivoyage ====================
  /wikivoyage/geo/{geoId}:
    get:
      operationId: getWikivoyageGeo
      summary: Get Wikivoyage data for a geo
      responses:
        "200":
          description: Wikivoyage data

  # ==================== Deals ====================
  /deals:
    get:
      operationId: getDeals
      summary: Get travel deals
      responses:
        "200":
          description: Deals
